---
import styles from "./SiteHeader.module.css";
import "../../public/styles/global.css";
//import { css } from "@emotion/react";

const navLinks = [
  { href: "/", label: "ホーム" },
  { href: "/about", label: "このサイトについて" },
  { href: "/blog", label: "勉強の記録" },
  { href: "/contact", label: "コンタクト" },
];
---

<header class={styles.header}>
  <a href="/">
    <img
      src="src/assets/images/logo_kari.svg"
      alt="手話学習の記録"
      width="214"
      height="52"
    />
  </a>
  <nav>
    <ul class={styles.NavList}>
      {
        navLinks.map((link) => (
          <li class={styles.NavItem}>
            <a href={link.href}>{link.label}</a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
